node_modules/
.pnp
.pnp.js

.env
.env.*
!.env.examples

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

.DS_Store
Thumbs.db

.vercel/
.git/

.vscode/
.idea/
*.swp
*.swo

dist/
build/
.cache/
.tmp/
*.tgz

coverage/
.nyc_output/